---
layout: layout.njk
title: Web Developer Portfolio Website | Erik Cheekes
description: Hi, I'm Erik Cheekes, a web developer. Check out this website to see my projects and skills.
eleventyComputed:
  frontmatterTest: "{{ testData }}"
---
    <div class="home-container">
        <div class="home-introduction">
            <div>
                <h1>Hi, I'm Erik.</h1>
                <p>I enjoy translating ideas into code.</p>
                <p>Explore this website to learn more about me and my programming.</p>
            </div>
        </div>
        {% include "project.njk" %} {# place in project.njk template #}
    </div>