<div class="contact-details-container">
    <h2 class="contact-header">
        Contact details
    </h2>
    <p class="contact-detail">Number: {{ contactDetails.phone }}</p>
    <p class="contact-detail">Email: {{ contactDetails.email }}</p>
    <br>
    <p class="contact-detail">{{ contactDetails.name }}</p>
    <p class="contact-detail">Registered Office:</p>
    <p class="contact-detail">{{ contactDetails.address.lineOne }}</p>
    <p class="contact-detail">{{ contactDetails.address.lineTwo }}</p>
    <p class="contact-detail">{{ contactDetails.address.lineThree }}</p>
    <p class="contact-detail">{{ contactDetails.address.lineFour }}</p>
</div>