<div class="footer-content">
    <div class="footer-divider"></div>
    <p class="footer-text">Lets talk, contact me at dev.erik.c@gmail.com or leave a message <a href="/contact.html">here</a>.</p>
</div>