<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="me"> 
        <link rel="stylesheet" href="/assets/styles/normalize.css">
        <link rel="stylesheet" href="/assets/styles/global.css">
        <link rel="stylesheet" href="/assets/styles/images.css">
        <link rel="stylesheet" href="/assets/styles/nav.css">
        <link rel="stylesheet" href="/assets/styles/footer.css">
        {% if formCSS %}
        <link rel="stylesheet" href="/assets/styles/form.css">
        <link rel="stylesheet" href="/assets/styles/contactDetails.css">
        {% endif %}
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/nav.js"></script>
        <title>{{ title }}</title>
	</head>
	<body class="body">
        <header class="header">
            {% include "nav.njk" %}
        </header>
        <main class="main">
            {{ content | safe }}
        </main>

        <footer class="footer">
        <!-- Footer content: copyright, links, etc. -->
            {% include "footer.njk" %}
        </footer>
	</body>
</html>