<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="me"> 
        <link rel="stylesheet" href="/assets/styles/normalize.css">
        <link rel="stylesheet" href="/assets/styles/global.css">
        <link rel="stylesheet" href="/assets/styles/index.css">
        <link rel="stylesheet" href="/assets/styles/images.css">
        <link rel="stylesheet" href="/assets/styles/nav.css">
        <link rel="stylesheet" href="/assets/styles/footer.css">
        <!-- conditionally render css pages -->
        {% if aboutPage %}
        <link rel="stylesheet" href="/assets/styles/about.css">
        {% endif %}
        {% if formCSS %}
        <link rel="stylesheet" href="/assets/styles/form.css">
        <link rel="stylesheet" href="/assets/styles/contactDetails.css">
        {% endif %}
        {% if notFoundCSS %}
        <link rel="stylesheet" href="/assets/styles/404.css">
        {% endif %}
        <!-- favicon  -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/nav.js"></script>
        <script src="https://kit.fontawesome.com/b64e13a237.js" crossorigin="anonymous"></script>
        <title>{{ title }}</title>
	</head>
	<body class="body">
        <header class="header">
            {% include "nav.njk" %}
        </header>
        <main class="main">
            {{ content | safe }}
        </main>
        <footer class="footer">
        <!-- Footer content: copyright, links, etc. -->
            {% include "footer.njk" %}
        </footer>
        {% if page.url == "/" %}
            <script>
                // reveal text options for each function
                revealProjectText('#liftIt-select-options', '#liftIt-technical-experience', '#liftIt-inner-workings');
                revealProjectText('#landPage-select-options', '#landPage-technical-experience', '#landPage-inner-workings');
                revealProjectText('#multiPage-select-options', '#multiPage-technical-experience', '#multiPage-inner-workings');
                revealProjectText('#searchEngine-select-options', '#searchEngine-technical-experience', '#searchEngine-inner-workings');
            </script>
        {% endif %}
        {% if aboutPage %}
            <script>
                // reveal text options
                revealAboutText('#selectOptions', '#programming-journey', '#decision-to-program', '#education');
            </script>
        {% endif %}
	</body>
</html>