<div class="home-section-divider"></div>
<h1 class="index-portfolio-header" id="portfolio-header">Portfolio</h1>
<div class="index-portfolio-header-underline"></div>
{% for project in projects %}
    <!-- nunjucks: don't generate divider for first project -->
    {% if loop.index > 1 %}
    <!-- projects  -->
    <div class="home-section-divider"></div>
    {% endif %}
    <div class="index-project">
        <div class="index-project-left">
            <h2 class="index-project-title">{{ project.header }}</h2>
            {% image project.image, project.imageAlt, "project-image", "lazy", "90vw"%}
        </div>
        <div class="index-project-right">
            <p>See it <a href="{{ project.url }}" target="_blank">here</a> or examine its code <a href="{{ project.gitRepo }}">here</a>.</p>
            {% include project.templateContent %}
        </div>
    </div>
{% endfor %}