{% for project in projects %}
    <div class="home-section-divider"></div>
    <div class="index-project">
        <h2>{{ project.header }}</h2>
        <p>Try {{ project.header }} <a href="{{ project.url }}">here</a></p>
        {% image project.image, project.imageAlt, "project-image", "lazy", "20vw"%}
        {% include project.templateContent %}
    </div>
{% endfor %}