<p>A simple single-page website.</p>
<p>Key features include:</p>
<ul> 
    {% for feature in projects[2].keyFeatures %}
        <li> {{ feature }}</li>
    {% endfor %}
</ul>

<p>For the project's technical details and/or my developer growth from its development, click below.</p>
<select id="landPage-select-options" autcomplete="off">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained</option>
</select>
<div id="landPage-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Creating a simple landing page offered learning opportunities in:</p>
    <ul>
        {% for experience in projects[2].technicalExperienceGained %}
            <li> {{ experience }}</li>
        {% endfor %}
    </ul>
</div>
<div id="landPage-inner-workings" style="display:none">
    <h3>Technologies used:</h3>
    <ul>
        {% for technology in projects[2].technologiesUsed %}
            <li> {{ technology }} </li>
        {% endfor %}
    </ul>
</div>