<p>A simple landing page</p>
<p>Key features include:</p>
<ul> 
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
</ul>

<p>For the landing page's technical details and/or my professional growth from its development, click below.</p>
<select id="landPage-select-options">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained.</option>
</select>
<div id="landPage-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Creating a simple landing page offered learning opportunities in:</p>
    <ul>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
    </ul>
</div>
<div id="landPage-inner-workings" style="display:none">
    <h3>Technologies used</h3>
    <p>Frontend: HTML5 and vanilla CSS (grid, flex).</p>
    <p>See the landing page's github repository <a href="https://github.com/etcheekes/templates/tree/main/landingPageOne">here</a>.</p>
</div>