

<p>Lift-It is a weightlifting-focused web application with a user-friendly interface that helps users create personalised workout routines.</p>
<p>Key features include:</p>
<ul>
    {% for feature in projects[0].keyFeatures%}
        <li> {{ feature }} </li>
    {% endfor %}
</ul>

<p>For Lift-It’s technical details and/or my professional growth from its development, click below.</p>
<select id="liftIt-select-options">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained.</option>
</select>
<div id="liftIt-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Creating a full-stack app offered valuable learning opportunities in key growth areas, including:</p>
    <ul>
        {% for experience in projects[0].technicalExperienceGained %}
            <li> {{ experience }} </li>
        {% endfor %}
    </ul>
</div>
<div id="liftIt-inner-workings" style="display:none">
    <h3>Technologies used</h3>
    {% for technology in projects[0].technologiesUsed %}
        <p> {{ technology }} </p>
    {% endfor %}
    <p>See Lift-It's github repository <a href="{{ projects[0].gitRepo }}">here</a>.</p>
</div>