<p>A multi-page website creating using a Static-Site-Generator</p>
<p>Key features include:</p>
<ul> 
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ultrices dolor, ac eleifend lorem. </li>
</ul>

<p>For the landing page's technical details and/or my professional growth from its development, click below.</p>
<select id="multiPage-select-options">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained.</option>
</select>
<div id="multiPage-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Creating a multi page website with a static site generator offered learning opportunities in:</p>
    <ul>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
        <li>Point.</li>
    </ul>
</div>
<div id="multiPage-inner-workings" style="display:none">
    <h3>Technologies used</h3>
    <p>Frontend: HTML5, vanilla CSS (grid, flex), JavaScript. Eleventy static site generator, nunjucks templating language (based off of JavaScript)</p>
    <p>See the Multi page's github repository <a href="{{ projects[2].gitRepos }}">here</a>.</p>
</div>