<p>Frontend Clone of Search Engine</p>
<p>Following on from the full-stack web app, I decided to focus on the front-end which entailed focusing on HTML, CSS, and JavaScript. Thus, as a first front-end challenge, I attempted to recreate the front-end design of Google’s iconic search engine page.</p>
<p>Key feature:</p>
<ul> 
    <li>A responsive and mobile friendly clone of Google’s search engine’s front-end design.</li>
</ul>

<p>For the landing page's technical details and/or my professional growth from its development, click below.</p>
<select id="searchEngine-select-options" autocomplete="off">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained.</option>
</select>
<div id="searchEngine-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Cloning the frontend of google's search engine offered learning opportunities in:</p>
    <ul>
        <li>General Frontend Experience: The use of HTML, CSS, and JavaScript to create a webpage.</li>
        <li>Core CSS skills: I improved my core CSS skills by using only functionality in-built into CSS when styling and implementing the homepage’s responsive layout/design (with CSS grid and flexbox).</li>
        <li>BEM naming methodology: This was the first project in which I followed a CSS naming methodology, specifically BEM (Block, Element, Modifier). Adhering to BEM instilled in me the importance and usefulness of using well-structured and meaningful names to organize my CSS code. A strict class naming convention made understanding, debugging, and altering my CSS code far more straightforward.</li>
        <li>JavaScript: A single function to aid in creating modal windows.</li>
    </ul>
</div>
<div id="searchEngine-inner-workings" style="display:none">
    <h3>Technologies used</h3>
    <ul>
        <li>HTML</li>
        <li>CSS for styling and layout.</li>
        <li>JavaScript</li>
    </ul>
    <p>See the github repository <a href="{{ projects[3].gitRepo }}">here</a>.</p>
</div>

