<p>After completing Lift-It, I decided to focus my efforts on the frontend aspect of web development. This project involved recreating the frontend design of Google’s iconic search engine homepage.</p>
<p>Key feature:</p>
<ul> 
    <li>{{ projects[1].keyFeatures }}</li>
</ul>

<p>For the project's technical details and/or my developer growth from its development, click below.</p>
<select id="searchEngine-select-options" autocomplete="off">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained</option>
</select>
<div id="searchEngine-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Cloning the frontend of google's search engine offered learning opportunities in:</p>
    <ul>
        {% for experience in projects[1].technicalExperienceGained %}
            <li> {{ experience }} </li>
        {% endfor %}
    </ul>
</div>
<div id="searchEngine-inner-workings" style="display:none">
    <h3>Technologies used</h3>
    <ul>
        {% for technology in projects[1].technologiesUsed %}
        <li> {{ technology }} </li>
        {% endfor %}
    </ul>
</div>

