<p>Frontend Clone of Search Engine</p>
<p>Following on from the full-stack web app, I decided to focus on the front-end which entailed focusing on HTML, CSS, and JavaScript. Thus, as a first front-end challenge, I attempted to recreate the front-end design of Google’s iconic search engine page.</p>
<p>Key feature:</p>
<ul> 
    <li>{{ projects[1].keyFeatures }}</li>
</ul>

<p>For the landing page's technical details and/or my professional growth from its development, click below.</p>
<select id="searchEngine-select-options" autocomplete="off">
    <option value="instruct-visitor">Learn more</option>
    <option value="inner-workings">What technologies did I use?</option>
    <option value="technical-experience">Technical experience gained.</option>
</select>
<div id="searchEngine-technical-experience" style="display:none">
    <h3>Lessons learned</h3>
    <p>Cloning the frontend of google's search engine offered learning opportunities in:</p>
    <ul>
        {% for experience in projects[1].technicalExperienceGained %}
            <li> {{ experience }} </li>
        {% endfor %}
    </ul>
</div>
<div id="searchEngine-inner-workings" style="display:none">
    <h3>Technologies used</h3>
    <ul>
        {% for technology in projects[1].technologiesUsed %}
        <li> {{ technology }} </li>
        {% endfor %}
    </ul>
    <p>See the github repository <a href="{{ projects[1].gitRepo }}">here</a>.</p>
</div>

