/* contact details */

.contact-header {
    border-bottom: 1px solid var(--primary);
    margin-bottom: 2rem;
}

.contact-details-container {
    grid-column: 2 / 12;
    width: 100%;
}

.contact-detail {
    line-height: 0;
    font-weight: bold;
    margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
    .contact-details-container {
        grid-column: 9 / 12;
    }
}
