.footer-content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.footer-divider {
    margin-top: 5rem;
    grid-column: 4 / -4;
    border-bottom: dashed var(--primaryColorLight);
}

.footer-text {
    grid-column: 1 / -1;
    text-align: center;
}