.contact-container {
    grid-column: 2 / 12;
	display: flex;
	justify-content: center;
}

.contact-form-title {
    color: var(--primary);
    border-bottom: 1px solid var(--primaryColorLight);
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.contact-form-label {
    font-weight: bold;
    margin-top: 1rem;
}

.contact-form-input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 3.5rem;
    font-size: 1rem;
    margin-block: 10px;
}

.contact-form-input--message {
    height: 9rem;
}

.contact-form-bt-submit {
    height: 3.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: var(--textColorLight);
    background-color: var(--primaryColor);
    margin-top: 1rem;
}

.contact-form-bt-submit:hover {
    background-color: var(--primaryColorLight);
}
