
.home-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* introduction section */

.home-introduction {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 88vh;
}

.home-section-divider {
    grid-column: 1 / -1;
    border-bottom: dashed var(--primaryColorLight);
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

/* project sections */

.index-portfolio-header {
    grid-column: 2 / -2;
    text-align: center;
    margin-bottom: 0;
}

.index-portfolio-header-underline {
    grid-column: 6 / -6;
    border-bottom: dashed var(--primaryColorLight);
    margin-bottom: 3rem;
}

.index-project {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.index-project-left,
.index-project-right {
    grid-column: 1 / -1;
}

.index-project-title {
    margin: 4px 0 0 0;
}

.project-image img {
    position: sticky;
    top: 40vh;
    width: 100%;
}

.home-my-website-code {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 5rem;
}

/* responsiveness */

@media screen and (min-width: 1200px) {
    .index-project-left,
    .index-project-right {
        grid-column: span 6;
    }
}