
.home-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* introduction section */

.home-introduction {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-section-divider {
    grid-column: 1 / -1;
    border: dashed rgba(192, 96, 20, 0.3);
}

/* project sections */

.index-project {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* responsiveness */

@media screen and (min-width: 1200px) {
    .index-project-left,
    .index-project-right {
        grid-column: span 6;
    }
}